html {
    scroll-behavior: smooth;
}

.section {
    scroll-snap-align: start;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.section {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    vertical-align: top;
}

body {
    white-space: nowrap;
}

.navbar {
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
}

#home, #about, #portfolio, #contact {
    scroll-snap-align: start;
}
